<div class="title">
  Amirmasoud Rahimi
  <br>
  <br>
</div>

<div class="wallpaper">
  <div class="photo">
    <img src="../../assets/data/portfolio-image.JPG" alt="portfolio-image">
  </div>
</div>
<div class="right">
  <div class="about">
    <span typingAnimator [sentences]="['HELLO WORLD! I AM A DEVELOPER']" [typeSpeed]="200"></span>
    <pre class="about">
    Java Backend Developer with over 3 years of experience developing robust
and scalable web applications using technologies Java, Spring, Hibernate
and REST. Have worked in agile environments and also have experience in
writing SQL queries. I welcome new challenges,try my best in every responsibility,
and gain experience from each challenge.
    </pre>
    <pre class="accomplishments">
Some of the essential responsibilities and accomplishments :
1-Effective collaboration with teammates in order to improve team performance.
2-Analyzed the project for migrating from monolith to microservice architecture.
3-Adding new Features to the application based on business needs.
4-Try to have productive communication with users to improve user experiences.
5-Maintaining and improving modules based on SOLID Methods.
  </pre>
  </div>
  <div class="socialIcon" style="height: 40px;">
    <a href="https://www.linkedin.com/in/amirmasoud-rahimi/" target="_blank">
      <img class="social" src="../../assets/data/linkedin-icon.png" alt="linkedin-icon">
    </a>
    <a href="https://github.com/Amirmasoud-Rahimi" target="_blank">
      <img class="social" src="../../assets/data/github-icon.png" alt="github-icon">
    </a>
    <a href="mailto:amirmasoudrahimiofficial@gmail.com" target="_blank">
      <img class="social" src="../../assets/data/gmail-icon.png" alt="gmail-icon">
    </a>
    <a href="https://t.me/amirmasoud_rahimi" target="_blank">
      <img class="social" src="../../assets/data/telegram-icon.png" alt="telegram-icon">
    </a>
  </div>
  <hr>
  <div style="height: 40px;">
    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" alt="java"
         width="40" height="40"/>
    <img src="https://www.vectorlogo.zone/logos/springio/springio-icon.svg" alt="spring" width="40" height="40"/>
    <img src="https://www.vectorlogo.zone/logos/hibernate/hibernate-ar21.svg" alt="git" width="80" height="40"/>

    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg"
         alt="docker" width="40" height="40"/>
    <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40"/>
    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/oracle/oracle-original.svg"
         alt="oracle"
         width="80" height="70"/>
  </div>
  <hr>
  <div style="height: 40px;">
    <img width="64" height="64" src="https://img.icons8.com/bubbles/50/camera.png" alt="camera"/>
    <img width="64" height="64" src="https://img.icons8.com/bubbles/50/deciduous-tree.png" alt="deciduous-tree"/>
    <img width="64" height="64" src="https://img.icons8.com/nolan/64/movie.png" alt="movie"/>
    <img width="64" height="64"
         src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-developer-web-development-flaticons-lineal-color-flat-icons-4.png"
         alt="developer"/>
  </div>
</div>
